version: '3'

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always
    networks:
      - app-network

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: GCWC_DB
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "80:3000" # Default Next.js port
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - backend
    restart: always
    networks:
      - app-network
    
volumes:
  data:

networks:
  app-network:
